h2 Наши новости
.news-box
	a(href="#").news-item
		.news-img
			img(src="img/news/news-01.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Фото-экскурсия по атмосферному Амалиенау
	a(href="#").news-item
		.news-img
			img(src="img/news/news-02.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Путь Калининграда — любовь, наука и война
	a(href="#").news-item
		.news-img
			img(src="img/news/news-03.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Главные и неизведанные тропы Куршской косы по максимуму
	a(href="#").news-item
		.news-img
			img(src="img/news/news-01.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Фото-экскурсия по атмосферному Амалиенау
	a(href="#").news-item
		.news-img
			img(src="img/news/news-02.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Путь Калининграда — любовь, наука и война
	a(href="#").news-item
		.news-img
			img(src="img/news/news-03.jpg", alt="")
		span.news-date 11.01.2056
		.news-title Главные и неизведанные тропы Куршской косы по максимуму
include ../includes/pagination
