

//- h1 Услуги

.services-container

	a(href="#").services-item
		.services-img
			img(src="img/services/01.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title Куршская коса без толпы и Зеленоградск на автобусной экскурсии
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее

	a(href="#").services-item
		.services-img
			img(src="img/services/02.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title Сказки старого Калининграда
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее

	a(href="#").services-item
		.services-img
			img(src="img/services/03.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title Три в одном: Куршская коса, Зеленоградск и замок Нессельбек
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее

	a(href="#").services-item
		.services-img
			img(src="img/services/04.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title Куршская коса для детей и взрослых
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее

	a(href="#").services-item
		.services-img
			img(src="img/services/05.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title Уютное путешествие по Куршской косе
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее

	a(href="#").services-item
		.services-img
			img(src="img/services/06.jpg", alt="")
		.services-box
			.services-tags
				.tags.services-time 7 часов
				.tags.services-group До 4 человек
				.tags.services-type Автоэкскурсия
			.services-title На автобусе к Куршской косе
			.services-descr Провести день на лоне природы и увидеть самые красивые места региона на авто-пешеходной экскурсии...
			.services-price 5200 руб./чел.
			.btn.services-btn Подробнее











	//- a(href="#").services-item
	//- 	img(src="img/services/05.jpg", alt="")
	//- 	.services-title Газеты

	//- a(href="#").services-item
	//- 	img(src="img/services/06.jpg", alt="")
	//- 	.services-title Журналы

	//- a(href="#").services-item
	//- 	img(src="img/services/07.jpg", alt="")
	//- 	.services-title Книги

	//- a(href="#").services-item
	//- 	img(src="img/services/08.jpg", alt="")
	//- 	.services-title Календари

	//- a(href="#").services-item
	//- 	img(src="img/services/09.jpg", alt="")
	//- 	.services-title Бланки

	//- a(href="#").services-item
	//- 	img(src="img/services/10.jpg", alt="")
	//- 	.services-title Рекламные креативы

.text-center
	//- a(href="#zayavka2").btn.popup_content Заказать экскурсию
	a(href="#zayavka2").btn Смотреть все экскурсии

//- include ../includes/pagination
