header.header
	.wrapper
		.header-logo
			a(href="#", title="title")
				img(src="img/logo.jpg", alt="")
				| Экскурсовод Сергей Аликов

				br
				span Индивидуальные экскурсии на автомобиле
					br
					| по Калининграду и области
		include ../includes/menu-adaptiv



		//-.header-contact
			a.top-tel(href="tel:+79253716858") 8 (925) 371-68-58
			a.btn.btn-primary.popup_content(href='#zayavka') Заказать звонок
