//- Меню по услугам сайта http://advokat-katsanov.ru

nav.header-menu
    .wrapper
        button#touch-menu Меню
        ul.tgnav
            li.active
                a(href='#') Главная
            li
                a(href='#') Обо мне

            li.dropdown
                a(href='#').dropdown-toggle Экскурсии
                //- .dropdown-menu
                .dropdown-menu
                    ul

                        //-li.dropdown
                            a(href='#').dropdown-toggle Сопровождение бизнеса
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Промышленная фильтрация воздуха
                                    li
                                        a(href="#") Воздухоподготовка для газовых турбин
                                    li
                                        a(href="#") Для нефтянной промышленности
                                    li
                                        a(href="#") Для металлообработки
                                    //-li
                                        a(href="#") Устные и письменные консультации
                                    //-li
                                        a(href="#") Взыскание задолженностей с контрагентов

                        //-li.dropdown
                            a(href='#').dropdown-toggle Гражданские споры
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Семейные споры
                                    li
                                        a(href="#") Наследственные споры
                                    li
                                        a(href="#") Жилищные споры
                                    li
                                        a(href="#") Дела по охране и защите интеллектуальной собственности

                        //-li.dropdown
                            a(href='#').dropdown-toggle Защита прав потребителей
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Банковские споры
                                    li
                                        a(href="#") Страховые споры (ОСАГО, КАСКО)
                                    li
                                        a(href="#") Споры по договорам розничной купли-продажи и договорам оказания услуг
                                    li
                                        a(href="#") Споры с застройщиками
                                    li
                                        a(href="#") Защита прав потребителей в сфере оказания медицинских и косметических услуг


                        li
                            a(href="#") Куршская коса без толпы и Зеленоградск на автобусной экскурсии
                        li
                            a(href="#") Сказки старого Калининграда
                        li
                            a(href="#") Полюбить Калининград за 3 часа
                        li
                            a(href="#") Балтийское побережье — в поисках сокровищ
                        //- li
                            a(href="#") Афиши
                        //- li
                            a(href="#") Этикетки
                        //- li
                            a(href="#") Газеты
                        //- li
                            a(href="#") Журналы
                        //- li
                            a(href="#") Книги
                        //- li
                            a(href="#") Календари
                        //- li
                            a(href="#") Бланки
                        //- li
                            a(href="#") Рекламные креативы


            //-li
                a(href='#') Цены-лист
            //- li
                a(href='#') Цены
            //- li
                a(href='#') Вопросы
            //- li
                a(href='#') Портфолио
            li
                a(href='#') Статьи и новости
            li
                a(href='#') Отзывы
            li
                a(href='#') Контакты
            //- li
            //-     a(href='#') Реклама в сети интернет
            //- li
            //-     a(href='#') Видео производство
            //- //- li
            //-     a(href='#') Производство рекламно-имиджевой продукции
            //- li
            //-     a(href='#') Медиа
            //- li
            //-     a(href='#') Маркетинг
            //- li
                a(href='#') Корпоративные и PR мероприятия
