section#contacts.contacts
	.wrapper
		h2.block-header Контакты
		.contacts-wrapper

			.contacts-col
				.contacts-ico
					img(src='img/icons/phone-white.svg', alt='Телефон')
				.contacts-header Телефон:
				.contacts-text
					p
						| единый многоканальный номер, звонок из России бесплатный
						br
						a.tel(href='tel:+78003330470') 8 (800) 333-04-70
						//-br
						//-| (WhatsApp, Viber)

			.contacts-col
				.contacts-ico
					img(src='img/icons/mail-white.svg', alt='Email')
				.contacts-header Email:
				.contacts-text
					p
						| Отправьте нам сообщение через
						br
						a.popup_content(href='#zayavka2', onclick="yaCounter7832272.reachGoal('btnFormBottom'); return true;") форму обратной связи

			.contacts-col
				.contacts-ico
					img(src='img/icons/marker-white.svg', alt='Мы ВКонтакте')
				.contacts-header Адрес:
				.contacts-text
					p
						| Санкт-Петербург, пр. Обуховской Обороны, д. 271, лит. А (главный офис)
						br
						a(href='https://vk.com/moshatin', target='_blank', onclick="yaCounter7832272.reachGoal('linkVK'); return true;") Больше адресов
