section#news.news
    .wrapper
        h2.section-header Статьи и новости
        //- p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        .news-box
            a(href="#").news-item
                .news-img
                    img(src="img/news/news-01.jpg", alt="")
                span.news-date 11.01.2056
                .news-title Фото-экскурсия по атмосферному Амалиенау
            a(href="#").news-item
                .news-img
                    img(src="img/news/news-02.jpg", alt="")
                span.news-date 11.01.2056
                .news-title Путь Калининграда — любовь, наука и война
            a(href="#").news-item
                .news-img
                    img(src="img/news/news-03.jpg", alt="")
                span.news-date 11.01.2056
                .news-title Главные и неизведанные тропы Куршской косы по максимуму
        a.btn(href='#', target='_blank') Все новости
