section#contacts.contacts
	.wrapper
		h2.section-header Не нашли то что искали?
		p Оставьте заявку и наши специалисты свяжутся с вами

		a(href="tel:+79097883835").contacts-phone +7 (909) 788-38-35

		.text-center
			a(href="#zayavka2").btn.contacts-btn.popup_content Оставить заявку

		p.contacts-adress Экскурсии по Калининграду и области

		a(href="mailto:test@example.com").contacts-mail test@example.com

		include ../includes/socbtn
		//- .contacts-socbtn
			a(href="#", title="title").contacts-socbtn__item
				img(src="img/icons/social/instagram-white.svg", alt="")
			a(href="#", title="title").contacts-socbtn__item
				img(src="img/icons/social/vk-white.svg", alt="")
			a(href="#", title="title").contacts-socbtn__item
				img(src="img/icons/social/facebook-white.svg", alt="")
			a(href="#", title="title").contacts-socbtn__item
				img(src="img/icons/social/youtube-white.svg", alt="")
