.bigslider

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-05.jpg", alt="")
		//- .wrapper
		.bigslider-box
			.bigslider-title
				span Добро пожаловать в Калининград
			.bigslider-descr
				span На автомобиле и пешком по главным достопримечательностям и эпохам города двух имён
			//- a.btn(href="#") Подробнее

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-02.jpg", alt="")
		//- .wrapper
		.bigslider-box
			.bigslider-title
				span Куршская коса без толпы
			.bigslider-descr
				span Ранний старт позволит рассмотреть балтийские пейзажи в тишине, не отвлекаясь на другие туристические группы
			//- a.btn(href="#") Подробнее

	.bigslider-item
		.bigslider-img
			img(src="img/slider/sl-03.jpg", alt="")
		//- .wrapper
		.bigslider-box
			.bigslider-title
				span Калининград за 3 часа
			.bigslider-descr
				span Вы увидите все главные достопримечательности Калининграда, узнаете, как он развивался и кто его самые знаменитые жители
		//- a.btn(href="#") Подробнее
