.socbtn
    a(href="#", title="title").socbtn__item
        img(src="img/icons/social/instagram-white.svg", alt="")
    a(href="#", title="title").socbtn__item
        img(src="img/icons/social/vk-white.svg", alt="")
    a(href="#", title="title").socbtn__item
        img(src="img/icons/social/facebook-white.svg", alt="")
    a(href="#", title="title").socbtn__item
        img(src="img/icons/social/youtube-white.svg", alt="")
